 @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
} 

body{
    overflow-x: hidden;
    background: grey;
    width: 100vw;
    height: 400vh;
    
}

.slide{
    position: absolute;
    top: 9vh;
    left: -0.7vw;
    width: 100.7vw;
    height: 80vh;
}

#arrow{
    position: absolute;
    top: 42vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    width: 10px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    margin: 6px;
    animation: move 2s infinite ease-in-out;
}

span:nth-of-type(1){
    transform: rotate(-45deg);
}

span:nth-of-type(2){
    transform: rotate(45deg);
}

@keyframes move{
    0%{margin-top: 0;}
    50%{margin-top: 100px;}
    100%{margin-top: 0;}
}

h1{
    font-size: 4rem;
}
h2{
    padding:10px;
}

p{
    width: 80%;
    margin-left: 2vw;
    margin-right: 7vw;
    margin-top: 1vh;
}

section{
    height: 100vh;
}

.container{
    padding: 5rem;
}

#infoB1{
    margin-top: 100vh;
}

.stats{
    margin: 2px;
    padding: 50px;
    width: 75%;
    font-size: 1.1rem;

}

#cont1{
    position: absolute;
    width: auto;
    height: 10vh;
    top: 460vh;
    left: 50vw;
    transform:translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
}


#btn1{
    z-index:1;
    padding: 10px;
    border-radius: 25px;
}

#btn1 a {
    text-decoration: none;
    transition-duration: 0.5s;
    color: black;
    font-size: 2rem;
    letter-spacing: 10px;
}

#btn1 a:hover {
    color: white;
    transition-duration: 0.5s;
}




https://www.awwwards.com/inspiration_search/